<div class="contenido-informacion">
  <div class="contenido-titulo-info">
    <h3>INFORMACIÓN</h3>
    <img src="assets/img/prodcutos/imageninformacion.png" alt="">
  </div>
  <div class="info-list">
    <div class="info">
      <div class="cuadro"></div>
      <div class="text-info">
        <div class="titulo-info">
          SOBRE MI
        </div>
        <div class="texto">
          Se puede decir que eso soy un tipo que ha tenido la suerte de trabajar en lo que le gusta y le apasiona estos últimos años de su vida. Soy egresado de la Escuela Nacional de Artes Gráficas con el título de Diseñador Gráfico. Me encuentro permanentemente actualizado en esta profesión tan cambiante.
        </div>
      </div>
    </div>
    <div class="info">
      <div class="cuadro"></div>
      <div class="text-info">
        <div class="titulo-info">
          MISIÓN
        </div>
        <div class="texto">
          Somos una agencia de publicidad que a parte de desarrollar servicios de diseño gráfico, marketing y comunicación, diseño páginas web y apps móviles, somos impulsores de cambios que generen bien común. Con un espíritu inconformista abierto a una nueva realidad más humana y sostenible.
        </div>
      </div>
    </div>
    <div class="info">
      <div class="cuadro"></div>
      <div class="text-info">
        <div class="titulo-info">
          VISIÓN
        </div>
        <div class="texto">
          Trabajar desde una gestión horizontal, siendo la trasparencia, la auto-responsabilidad, la confianza y solidaridad los pilares que fundamentan esta empresa, queremos ser referentes en cuanto a la comunicación ética y responsable. Colaborando y creando sinergias con otras entidades que siguiendo con nuestra filosofía quieran cambiar el mundo hacia la consciencia, responsabilidad y cooperación.
        </div>
      </div>
    </div>
    <div class="info">
      <div class="cuadro"></div>
      <div class="text-info">
        <div class="titulo-info">
          VALORES
        </div>
        <div class="texto">
          <strong>VANGUARDIA</strong> Renovamos los conceptos buscamos como valor añadido el bien común y la sostenibilidad. Dotamos de sentido y significado a todos nuestros proyectos.
        </div>
        <div class="texto">
          <strong>ALTRUISMO</strong> Desarrollamos proyectos sin ánimo de lucro, estamos comprometidos con la conciencia y los valores.
        </div>
        <div class="texto">
          <strong>APERTURA</strong> Partimos de la sensibilidad y capacidad de escucha. Concebimos nuestra empresa como una nueva forma de hacer las cosas.
        </div>
        <div class="texto">
          <strong>SENTIDO COMÚN</strong> Creemos firmemente que todos estamos conectados. Lo que yo hago afecta por eso fomentamos la propia responsabilidad y la ajena.
        </div>
      </div>
    </div>
  </div>
</div>