$mobile-xs: 300px;
$mobile-m: 375px;
$mobile-l: 425px;
$mobile: 600px;
$tablet: 768px;
$ipad: ''; // agregar el media cuando sea requerido
$desktop: 897px;
$laptop: 1024px;
$laptop-m: 1250px;
$laptop-l: 1440px;
$xl-desktop: 2560px;

// $mobile-xs: 'only screen and (max-width: 600px)';
// $mobile: 'only screen and (min-width: 600px)';
// $tablet: 'only screen and (min-width: 768px)';
// $ipad: ''; // agregar el media cuando sea requerido
// $desktop: 'only screen and (min-width: 992px)';
// $xl-desktop: 'only screen and (min-width: 1200px)';