<div class="contendio-nav">
  <div class="contenedor-navegador">
    <div class="fondo-nav">
      <a [routerLink]="['/Inicio']" routerLinkActive="active" class="pestanas">INICIO</a>
      <a [routerLink]="['/Informacion']" routerLinkActive="active" class="pestanas">INFORMACIÓN</a>
      <a [routerLink]="['/Productos']" routerLinkActive="active" class="pestanas">PRODUCTOS</a>
      <a [routerLink]="['/Sucursal']" routerLinkActive="active" class="pestanas">SUCURSALES</a>
      <a [routerLink]="['/Carrito']" routerLinkActive="active" class="pestanas">CARRITO</a>
    </div>
  </div>
  <nav class="fondo-nav-titulo">
    <a class="titulo" href="#">MEN & WOMAN</a>
  </nav>
</div>