@import '../../../styles.scss';

.contenido-servicios {
  padding: 1rem;
  @include mobile {
    padding: 2rem 1rem;
  }
  @include tablet {
    padding: 4rem 3rem;
  }
  @include desktop {
    padding: 4rem 3rem;
  }
  @include laptop {
    padding: 4rem 3rem;
  }
  @include laptop-m {
    padding: 4rem 3rem;
  }
  @include laptop-l {
    padding: 4rem 3rem;
  }
  @include xl-desktop {
    padding: 4rem 3rem;
  }
  .titulo {
    text-align: left;
    font: Bold 30px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-bottom: 2rem;
    @include mobile {
      font: Bold 30px Montserrat;
    }
    @include tablet {
      font: Bold 60px Montserrat;
    }
    @include desktop {
      font: Bold 60px Montserrat;
    }
    @include laptop {
      font: Bold 60px Montserrat;
    }
    @include laptop-m {
      font: Bold 60px Montserrat;
    }
    @include laptop-l {
      font: Bold 60px Montserrat;
    }
    @include xl-desktop {
      font: Bold 60px Montserrat;
    }
  }
  .lista-servicios {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem 1rem;
    }
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem 1rem;
    }
    @include desktop {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem 1rem;
    }
    @include laptop {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem 1rem;
    }
    @include laptop-m {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 4rem 1rem;
    }
    @include laptop-l {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 4rem 1rem;
    }
    @include xl-desktop {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 4rem 1rem;
    }
    .servicio {
      .img-servicio {
        display: grid;
        justify-items: center;
        text-align: center;
        width: auto;
      }
      .titulo-servicio {
        margin-top: 0.5rem;
        text-align: center;
        font: Bold 18px Montserrat;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
      }
      .linea-divi {
        margin: 0.5rem 0rem;
        height: 4px;
        width: 5rem;
        background-color: #F5EA03;
      }
      .desc-servicio {
        padding: 0rem 0.5rem;
        text-align: center;
        font: Normal 14px Montserrat;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
      }
    }
  }
}

.svr-bs{
  cursor: pointer;
  width: 300px;
  height: 300px;
  overflow:hidden;
  background-position: center !important;
  
}
.hover{
  cursor: pointer;
  width: 300px;
  height: 300px;
  padding:0px 0px 0px 0px;
  background:url(../../../assets/img/prodcutos/fondoamarillo.png);opacity: 0;
  background-position: center !important;
  transition:ease-in-out 0.8s;
  -webkit-transition:ease-in-out 0.8s;
  -ms-transition:ease-in-out 0.8s;-moz-transition:ease-in-out 0.8s;
}
.svr-frs{
  width: 300px;
  height: 300px;
  font-family: 'Anton', sans-serif;
  font-size:11.5px;
  font-weight:400;
  text-transform:uppercase;
  text-align:center;
  letter-spacing:2px;
  color:#000;
  position:relative;
  top:130px;
}
.svr-frs1{
  width:250px;font-family: 'Anton', sans-serif;
  font-size:11.5px;font-weight:400;
  text-transform:uppercase;
  text-align:center;
  color:#202020;
  letter-spacing:2px;position:relative;top:125px;}.hover:hover{opacity: 0.9;transition:ease-in-out 0.8s;-webkit-transition:ease-in-out 0.8s;-ms-transition:ease-in-out 0.8s;-moz-transition:ease-in-out 0.8s;}