<div class="portada-video"></div>
<div class="contenido-empresa">
  <div class="titulo">
    MISIÓN
  </div>
  <div class="info">
    Ofrecer a nuestros clientes productos de calidad, a precios cómodos que cumplan con sus necesidades y exigencias, abarcando sus gustos de acuerdo a su estilo de ver y vivir la vida.
  </div>
  <div class="titulo">
    VISIÓN
  </div>
  <div class="info">
    Ser una empresa líder y reconocida en la venta de ropa Men & Woman, lograr también extendernos y crear nuestras cadenas de almacenes, proporcionando cada día más un servicio de excelencia a nuestros clientes y que al mismo tiempo nos permitan competir en el mercado nacional con los mejores precios del mercado.
  </div>
  <div class="titulo">
    VALORES
  </div>
  <div class="info">
    Ofrecer ropa de mejor calidad satisfaga las necesidades y gustos del mercado potencial, vender ropa a la moda que cumpla con los requerimientos de estilo en el segmento del mercado.
  </div>
</div>