@import '../../../styles.scss';

.contenedor-sucursales {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  @include tablet {
    padding: 4rem 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
  @include desktop {
    padding: 4rem 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
  @include laptop {
    padding: 4rem 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
  @include laptop-m {
    padding: 4rem 3rem;
    grid-template-columns: repeat(3, 1fr);
  }
  @include laptop-l {
    padding: 4rem 3rem;
    grid-template-columns: repeat(3, 1fr);
  }
  @include xl-desktop {
    padding: 4rem 3rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .sucursal {
    justify-self: center;
    img {
      width: 100%;
      height: 349px;
      @include mobile {
        width: 349px;
        height: 349px;
      }
      @include tablet {
        width: 349px;
        height: 349px;
      }
      @include desktop {
        width: 349px;
        height: 349px;
      }
      @include laptop {
        width: 349px;
        height: 349px;
      }
      @include laptop-m {
        width: 349px;
        height: 349px;
      }
      @include laptop-l {
        width: 349px;
        height: 349px;
      }
      @include xl-desktop {
        width: 349px;
        height: 349px;
      }
    }
    .titulo {
      text-align: center;
      color: #012652;
      font-size: 40px;
      font-weight: bold;
    }
    .sub-titulo {
      font-size: 20px;
      text-align: center;
      color: #012652;
    }
  }
}