<div class="contenedor-sucursales">
  <div class="sucursal">
    <img src="assets/img/prodcutos/izcalli.png" alt="">
    <div class="titulo">IZCALLI</div>
    <div class="sub-titulo">Dirección izcali CDMX</div>
  </div>
  <div class="sucursal">
    <img src="assets/img/prodcutos/saletile.png" alt="">
    <div class="titulo">SATELITE</div>
    <div class="sub-titulo">Dirección Satélite CDMX</div>
  </div>
  <div class="sucursal">
    <img src="assets/img/prodcutos/polanco.png" alt="">
    <div class="titulo">POLANCO</div>
    <div class="sub-titulo">Dirección Polanco CDMX</div>
  </div>
</div>