<div class="portada-video">
  <div class="titulo">
    CONTACTA CONMIGO
  </div>
</div>
<div class="contenido-ubiucacion">
  <div class="info-ubicacion">
    <div class="titulo">
      UBICACIÓN
    </div>
    <div class="contenido-texto-info">
      <p>No dudes de contactar conmigo, cada proyecto es un nuevo desafío para mi, no existen clientes grandes o pequeños, todos son importantes y todos reciben un servicio basado en la experiencia y la creatividad. Con un trato amable y cercano trataré de ser tu socio en busca de la mejor solución para la comunicación visual de tu producto o de tu empresa.</p>
      <p>Puedes escribir a <strong>erickmeneses@designuxui.com.mx</strong>, llamarme al teléfono 55 1234 5678 o bien utilizar las vías de comunicación que nos ofrecen redes sociales como <strong>Linkedin</strong>, <strong>Twitter</strong> o <strong>Facebook</strong>.</p>
      <p>Trataré de responder a tu mensaje con la mayor brevedad posible. Como dato adicional comentarte que resido actualmente en Ciudad de México (México)</p>
    </div>
  </div>
  <div class="mapa">
    <img src="assets/img/prodcutos/mapa.png" alt="">
  </div>
</div>
<div class="contenido-contactos">
  <div class="contacto">
    <div class="head-cotacto">
      <div class="contenido-img">
        <img src="assets/img/icon/phone.svg" alt="">
      </div>
      <div class="texto">TELÉFONO MÓVIL</div>
    </div>
    <div class="body-contacto">
      (+52) 55 1234 5678
    </div>
    <div class="footer-contacto">
      De lunes a viernes de 09:00 a 19:00 hrs
    </div>
  </div>
  <div class="contacto">
    <div class="head-cotacto">
      <div class="contenido-img">
        <img src="assets/img/icon/mail.svg" alt="">
      </div>
      <div class="texto">CORREO ELECTRÓNICO</div>
    </div>
    <div class="body-contacto">
      meneses@designuxui.com.mx
    </div>
    <div class="footer-contacto">
      Cuéntame lo que necesitas
    </div>
  </div>
  <div class="contacto">
    <div class="head-cotacto">
      <div class="contenido-img">
        <img src="assets/img/icon/maps-and-flags.svg" alt="">
      </div>
      <div class="texto">LOCACIÓN</div>
    </div>
    <div class="body-contacto">
      CIUDAD DE MÉXICO
    </div>
    <div class="footer-contacto">
      Para reuniones o entrevistar personales
    </div>
  </div>
</div>