@import '../../../styles.scss';

.contenedor {
  padding: 1rem;
  @include mobile {
    padding: 2rem;
  }
  @include tablet {
    padding: 2rem;
  }
  @include desktop {
    padding: 2rem;
  }
  @include laptop {
    padding: 2rem;
  }
  @include laptop-m {
    padding: 2rem;
  }
  @include laptop-l {
    padding: 2rem;
  }
  @include xl-desktop {
    padding: 2rem;
  }
  h3 {
    font-weight: bold;
    span {
      color: #EEC442;
    }
  }
  h1 {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 18rem;
  }
  .lista-producto {
    display: grid;
    grid-gap: 3rem;
    .producto {
      padding: 1rem;
      background: #F5F5F5 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      opacity: 1;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      @include tablet {
        padding: 2rem;
        grid-template-columns: auto 1fr;
      }
      @include desktop {
        padding: 2rem;
        grid-template-columns: auto 1fr;
      }
      @include laptop {
        padding: 2rem;
        grid-template-columns: auto 1fr;
      }
      @include laptop-m {
        padding: 2rem;
        grid-template-columns: auto 1fr;
      }
      @include laptop-l {
        padding: 2rem;
        grid-template-columns: auto 1fr;
      }
      @include xl-desktop {
        padding: 2rem;
        grid-template-columns: auto 1fr;
      }
      img {
        justify-self: center;
        width: 100%;
        height: 250px;
        @include mobile {
          width: 100%;
          height: 340px;
        }
        @include tablet {
          width: 340px;
          height: 340px;
        }
        @include desktop {
          width: 340px;
          height: 340px;
        }
        @include laptop {
          width: 340px;
          height: 340px;
        }
        @include laptop-m {
          width: 340px;
          height: 340px;
        }
        @include laptop-l {
          width: 340px;
          height: 340px;
        }
        @include xl-desktop {
          width: 340px;
          height: 340px;
        }
      }
      .info-producto {
        border-bottom: 1px solid #000000;
        display: grid;
        .productos-info {
          .titulo {
            display: flex;
            font-weight: lighter;
            font-size: 25px;
            align-items: center;
            button {
              cursor: pointer;
              margin-left: auto;
              background: transparent;
              border: none !important;
              padding: 0rem;
              img {
                width: 40px;
                height: 30px;
              }
            }
          }
          .sub-titulo {
            padding: 1rem 0rem;
            font-size: 20px;
          }
          .precio {
            font-size: 25px;
            font-weight: bold;
          }
        }
        .impuesto {
          align-self: self-end;
          margin-bottom: 1rem;
          font-size: 20px;
        }
      }
    }
  }
}