@import '../../../styles.scss';

footer {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem 2rem;
  background: #000000 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  @include mobile {
    grid-template-columns: repeat(2, 1fr);
  }
  @include tablet {
    grid-template-columns: 1fr 2fr;
  }
  @include desktop {
    grid-template-columns: 1fr 2fr;
  }
  @include laptop {
    grid-template-columns: 1fr 2fr;
  }
  @include laptop-m {
    grid-template-columns: repeat(2, 1fr);
  }
  @include laptop-l {
    grid-template-columns: repeat(2, 1fr);
  }
  @include xl-desktop {
    grid-template-columns: repeat(2, 1fr);
  }
  .titulo {
    align-self: center;
    font: Bold 30px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
  }
  .lista-redes {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    @include mobile-m{
      grid-template-columns: repeat(2, auto);
    }
    @include mobile-l {
      grid-template-columns: repeat(2, auto);
    }
    @include mobile {
      grid-template-columns: repeat(2, auto);
    }
    @include tablet {
      grid-template-columns: repeat(2, auto);
    }
    @include desktop {
      grid-template-columns: repeat(4, auto);
    }
    @include laptop {
      grid-template-columns: repeat(4, auto);
    }
    @include laptop-m {
      grid-template-columns: repeat(4, auto);
    }
    @include laptop-l {
      grid-template-columns: repeat(4, auto);
    }
    @include xl-desktop {
      grid-template-columns: repeat(4, auto);
    }
    .red {
      cursor: pointer;
      justify-self: center;
      text-align: center;
      img {
        width: 3rem;
        height: 3rem;
      }
      .texto-red {
        color: #FFFFFF;
      }
    }
  }
}