<footer>
  <div class="titulo">
    Erick Meneses
  </div>
  <div class="lista-redes">
    <a class="red">
      <img src="assets/img/redes/facebook.png" alt="">
      <div class="texto-red">meneses/facebook</div>
    </a>
    <a class="red">
      <img src="assets/img/redes/whatsapp.png" alt="">
      <div class="texto-red">55 1234 5678</div>
    </a>
    <a class="red">
      <img src="assets/img/redes/twitter.png" alt="">
      <div class="texto-red">@meneses.ux/ui</div>
    </a>
    <a class="red">
      <img src="assets/img/redes/instsagram.png" alt="">
      <div class="texto-red">@meneses.ux/ui</div>
    </a>
  </div>
</footer>